{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "css/about.css" %}">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  
    <title>About us</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <a class="navbar-brand" href="#">
          <img src="{% static "Dream Play logo (1).png" %}" alt="DREAMPLAY" width="120" height="40" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
    
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="vr.html">Virtual Reality</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="kz.html">Kids Play Zone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
    
            </li>
          </ul>
    
        </div>
      </nav>
      <br><br><br><br>
      <div>
      <img src="{% static "photo/23.jpg" %}" class="about">
      </div>
      <br><br>
      <p><b>Dreamplay</b> offers one of the largest indoor play areas in Nagpur with Unlimited Fun for Kids & Adults of all ages. We believe VR is the next generation of gaming and don't want you to miss out! Dreamplay is the only place in Nagpur where customers can immerse into VR for hours at an extremely affordable price.</p> 

       <p> Our goal is to make Dreamplay the go-to place for your kids. They can have crazy fun in a clean and safe environment while also enhancing their social and motor skills.</p>
        
      <p>  We've started our journey from Nagpur and would love to expand across India and reach more people. If you have an exciting business collaboration idea in your mind or interested in franchise options, feel free to contact us and we'd love to connect with you!</p>


      <div class="teams" >
        <h2 class="team-heading">Meet our team</h2>
      </div>
      <br> <br>
<center>
     <div class="row">
       <div class="col-md-3 col-sm-6">
        <div class="card h-100" style="width:15rem;">
          <img src="{% static "photo/owner/1.jpg" %}" class="card-img-top" alt="Raunak Gaggar">
          <div class="card-body">
            <p class="card-text middle"><b>Raunak Gaggar</b><br>Owner, Dreamplay <br><em>Technology Head, Dreamplay <br></em></p>
          </div>
        </div>
       </div>

       <div class="col-md-3 col-sm-6">
        <div class="card h-100" style="width:15rem;">
          <img src="{% static "photo/owner/2.jpg" %}" class="card-img-top" alt="Ajay Lad">
          <div class="card-body">
            <p class="card-text middle"><b>Ajay Lad</b><br>Owner, Dreamplay <br><em>HR Head, Dreamplay <br> <br></em></p>
          </div>
        </div>
       </div>

       <div class="col-md-3 col-sm-6">
        <div class="card h-100" style="width:15rem;">
          <img src="{% static "photo/owner/3.jpg" %}" class="card-img-top" alt="Purva Gaggar">
          <div class="card-body">
            <p class="card-text middle"><b>Purva Gaggar</b><br>Finance Head, Dreamplay<br><em>Sr. Financial Analyst, Glide San Francisco<br></em></p>
          </div>
        </div>
       </div>
       <div class="col-md-3 col-sm-6">
        <div class="card h-100" style="width:15rem;">
          <img src="{% static "photo/owner/4.jpg" %}" class="card-img-top" alt="Shrenik Lad">
          <div class="card-body">
            <p class="card-text middle"><b>Shrenik Lad</b><br>Marketing Head, Dreamplay<br><em>Sr. Financial Analyst, Glide San Francisco</em></p>
          </div>
        </div>
       </div>
     </div>
<center>
      </div>
      <br><br>
      <footer class="f-class">
        <b> Dreamplay VR and Kids Play Zone</b> <br>
        Uday Chambers 2nd floor, Near Mascot Honda, C.A Road, Telephone Exchange, Nagpur 440008. <br>
        Phone: +91-9923196589, Email: dreamplay.info@gmail.com <br>
        Copyright © Dreamplay. All Rights Reserved.
    
      </footer>
      <section id="lab_social_icon_footer">
        <!-- Include Font Awesome Stylesheet in Header -->
    
        <div class="container">
          <div class="text-center center-block">
            <a href='https://www.facebook.com/dreamplaynagpur/' target="_blank"><i id="social-fb"
                class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:dreamplay.info@gmail.com" target="_blank"><i id="social-em"
                class="fa fa-envelope-square fa-3x social"></i></a>
            <a href="https://www.instagram.com/dreamplaynagpur/?hl=en" target="_blank"><i id="social-in"
                class="fa fa-instagram fa-3x social"></i></a>
            <a href="https://wa.me/919923196589?text=Hello" target="_blank"><i id="what"
                class="fa fa-whatsapp fa-3x social"></i></a>
    
    
          </div>
        </div>
      </section>
    
     
</body>
</html>